button {
  cursor: pointer;
  transition: 0.12s;
}

button:disabled {
  cursor: not-allowed;
  color: #e4e4e4;
}

.button--search {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  margin-left: 10px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  background-color: #37beb0;
  border: 0;
  border-radius: 25px;
  padding: 8px 20px;
}

.button--author,
.button--tag {
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.2px;
  border: 0;
  padding: 0;
  background-color: transparent;
  transition: 0.12s;
}

.button--author:hover,
.button--tag:hover {
  color: #37beb0;
}
