table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  letter-spacing: 0.2px;
  padding: 15px;
}

table td {
  padding: 15px;
  border-top: 1px solid rgb(235, 235, 235);
}

.table__td-author {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
}

.table__td-answers-count {
  width: 90px;
  text-align: center;
}

.table__td-tags {
  width: 200px;
}
