body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 21px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3a8bbb;
}

a:hover {
  text-decoration: underline;
}

pre {
  background-color: #eff0f1;
}

code {
  font-size: 13px;
  line-height: 18px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 35px;
  line-height: 39px;
  margin: 0;
  margin-bottom: 70px;
  padding: 20px 0;
}

h2 {
  margin-bottom: 30px;
}
